@using Microsoft.AspNetCore.Identity
@using BlazorWebApp_Silicon.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<section class="accountDetails">
    <div class="container">
        <div class="profileInfo">
            <div class="userInfo">
                @if (user != null)
                {
                    <div class="image-container">
                        <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                            <input id="fileUploader" type="file" name="file" hidden />
                            <label for="fileUploader" class="btn btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
                        </form>
                        <img src="/images/profile-header.svg" alt="profile image">
                    </div>
                    <h5>@user.UserProfile?.FirstName @user.UserProfile?.LastName</h5>
                    <p>@user.Email</p>
                }

                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <NavLink class="menu-link" href="Account/Manage" Match="NavLinkMatch.All"><i class="fa-solid fa-gear"></i>Account Details</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="menu-link" href="Account/Manage/ChangePassword">Security</NavLink>
                    </li>
                    <li class="nav-item">
                        
                        <NavLink class="menu-link" href="Account/Manage/Notifications">Notifications</NavLink>
                    </li>
                    <li class="nav-item">

                        <NavLink class="menu-link" href="Account/Manage/Messages">Messages</NavLink>
                    </li>
                    <li class="nav-item">

                        <NavLink class="menu-link" href="Account/Manage/SavedItems">Saved Items</NavLink>
                    </li>
                    @if (hasExternalLogins)
                    {
                        <li class="nav-item">
                            <NavLink class="menu-link" href="Account/Manage/ExternalLogins">External logins</NavLink>
                        </li>
                    }
                    <li class="nav-item">
                        <NavLink class="menu-link" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="menu-link" href="Account/Manage/PersonalData">Personal data</NavLink>
                    </li>
                    <li class="nav-item">

                        <NavLink class="menu-link" href="Account/Manage/SignOut">Sign Out</NavLink>
                    </li>
                </ul>
            </div>
            <nav>

            </nav>
        </div>
    </div>
</section>


@code {
    private ApplicationUser? user;
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        var email = SignInManager.Context.User?.Identity?.Name;
        if (email != null)
        {
            user = await UserManager.FindByEmailAsync(email);
        }

        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
