.courses-showcase .container {
  display: flex;
  flex-direction: column;
}
.courses-showcase .container .courses-showcase-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .courses-showcase .container .courses-showcase-top {
    flex-direction: row;
  }
}
@media (max-width: 992px) {
  .courses-showcase .container .courses-showcase-top {
    flex-direction: column;
  }
}
.courses-showcase .container .courses-showcase-top .top-text {
  justify-content: center;
}
.courses-showcase .container .courses-showcase-top .top-text .breadcrumb {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
@media (min-width: 768px) {
  .courses-showcase .container .courses-showcase-top .top-text .breadcrumb {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.courses-showcase .container .courses-showcase-top .top-text .breadcrumb a {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
}
.courses-showcase .container .courses-showcase-top .top-text .breadcrumb a.active {
  font-weight: 500;
}
.courses-showcase .container .courses-showcase-top .top-text .breadcrumb a.active::after, .courses-showcase .container .courses-showcase-top .top-text .breadcrumb a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
.courses-showcase .container .courses-showcase-top .top-text .breadcrumb li i {
  margin-right: 5px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search {
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .courses-showcase .container .courses-showcase-top .courses-showcase-search {
    margin-right: auto;
  }
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .select {
  width: 200px;
  height: 46px;
  position: relative;
  margin-right: 5px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .select i {
  position: absolute;
  top: 17px;
  right: 10px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .select .selected {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .select .select-options {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: var(--color-gray-600);
  color: var(--color-gray-000);
  border-radius: 5px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .select .select-options .option:hover {
  background-color: var(--color-theme-s);
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .input-search-group {
  position: relative;
  display: flex;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .input-search-group input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.courses-showcase .container .courses-showcase-top .courses-showcase-search .input-search-group i {
  color: var(--color-gray-500);
  position: absolute;
  top: 18px;
  right: 8px;
}
.courses-showcase .container .courses-showcase-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (min-width: 992px) {
  .courses-showcase .container .courses-showcase-content {
    grid-template-columns: auto auto auto;
  }
}
.courses-showcase .container .courses-showcase-content .courses-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 2%;
  box-shadow: var(--box-theme-s-shadow);
}
.courses-showcase .container .courses-showcase-content .courses-box img {
  width: 100%;
}
.courses-showcase .container .courses-showcase-content .courses-box form {
  position: absolute;
  top: 10px;
  right: 25px;
  align-items: flex-end;
}
.courses-showcase .container .courses-showcase-content .courses-box form button {
  width: 35px;
  height: 35px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);
  border-radius: 25px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.courses-showcase .container .courses-showcase-content .courses-box form button:hover {
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  border: 1px solid var(--color-gray-100);
}
.courses-showcase .container .courses-showcase-content .courses-box .courses-box-top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.courses-showcase .container .courses-showcase-content .courses-box .courses-box-top p {
  align-self: flex-start;
  background-color: rgb(18, 196, 18);
  padding: 5px;
}
.courses-showcase .container .courses-showcase-content .courses-box .courses-text {
  height: 120px;
}
@media (min-width: 768px) {
  .courses-showcase .container .courses-showcase-content .courses-box .courses-text {
    height: 100px;
  }
}
.courses-showcase .container .courses-showcase-content .courses-box .prices {
  display: flex;
  color: var(--color-theme);
}
.courses-showcase .container .courses-showcase-content .courses-box .prices p {
  margin-right: 20px;
  margin-top: 10px;
}
.courses-showcase .container .courses-showcase-content .courses-box .hour-rating {
  display: flex;
  width: 100%;
  border-top: 1px solid gray;
}
.courses-showcase .container .courses-showcase-content .courses-box .hour-rating p {
  margin-right: 20px;
  margin-top: 10px;
}
.courses-showcase .container .courses-showcase-content .courses-box .hour-rating p i {
  margin-right: 5px;
}
.courses-showcase .container .courses-slide-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.courses-showcase .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.courses-showcase .pagination span {
  padding: 20px;
  margin: 5px;
}
