<header class="header">
    <div class="container">
        <a id="logo" href="/">
            <img id="logo-mode" src="/images/Silicon-Logotype-Light-Mode.svg" alt="silicon logo">
        </a>

        <div id="menu">
            <nav>
                <NavLink class="menu-link" href="#Overview">Overview</NavLink>
                <NavLink class="menu-link" href="#Features">Features</NavLink>
                <NavLink class="menu-link" href="/contact">Contact</NavLink>

                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/Courses">Courses</NavLink>
                        <NavLink class="menu-link" href="/Admin">Admin</NavLink>
                    </Authorized>
                </AuthorizeView>

            </nav>
        </div>

        <div class="account-buttons">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="profile-img">
                        <a href="/Account/Manage"><img src="/images/profile-header.svg" alt="profile image"></a>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn-gray" href="/Account/Login">Sign in<i class="fa-solid fa-right-to-bracket"></i></NavLink>
                    <NavLink class="btn-theme" href="/Account/Register">Sign up<i class="fa-solid fa-user-plus"></i></NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
            <BlazorWebApp_Silicon.Client.Components.HeaderMobileMenu />
        </div>

</header>

@code {

}
