.downloadApp {
    background-color: var(--color-gray-200);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;

        .downloadApp-image {
            display: none;

            @media(min-width: 1200px) {
                display: block;
                max-width: 600px;
                margin-right: 100px;
            }

            @media(min-width: 1400px) {
                max-width: 800px;
            }
        }

        .downloadApp-content {
            margin: auto;
            padding-top: 50px;
            text-align: center;

            @media(min-width: 1200px) {
                text-align: left;
            }

            h1 {
                padding-bottom: 50px;

                @media(min-width: 1200px) {
                    padding-right: 20%;
                }
            }

            p {
                margin: 0;
            }

            a {
                margin-top: 10%;
                margin-left: 10%;
            }

            .appstore-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 40px;

                @media(min-width: 768px) {
                    flex-direction: row;
                }

                @media(min-width: 1200px) {
                    justify-content: left;
                }

                a {
                    margin: auto;
                    margin-top: 20px;

                    img {
                        box-shadow: var(--box-theme-shadow);
                    }


                    @media(min-width: 768px) {
                        padding-top: 30px;
                        margin: 30px;
                    }
                }

                #appstore-darkmode {
                    display: none;
                }
            }

            .googleplay-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 40px;


                @media(min-width: 768px) {
                    flex-direction: row;
                }

                @media(min-width: 1200px) {
                    justify-content: left;
                }

                a {
                    margin: auto;
                    margin-top: 20px;

                    img {
                        box-shadow: var(--box-theme-shadow);
                    }

                    @media(min-width: 768px) {
                        padding-top: 30px;
                        margin: 30px;
                    }
                }

                #googleplay-darkmode {
                    display: none;
                }
            }
        }
    }
}
