.subscribe {
    background-color: var(--color-gray-100);
    padding-top: 90px;
    padding-bottom: 90px;

    .container {
        .section-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            h1 {
                text-align: center;
            }

            img {
                display: none;

                @media(min-width: 768px) {
                    display: block;
                }
            }
        }

        .signup-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 30px;
            width: 100%;

            @media(min-width: 768px) {
                align-items: baseline;
                flex-direction: row;
            }

            form {
                width: 80%;

                @media(min-width: 1200px) {
                    width: 50%;
                }

                .checkbox-content {
                    display: grid;
                    grid-template-columns: auto;

                    @media(min-width: 768px) {
                        grid-template-columns: 200px 1fr
                    }

                    .checkbox {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

                        @media(min-width: 768px) {
                            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                        }

                        .ch-b {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            margin-bottom: 5px;

                            label {
                                margin-top: 0px;
                                padding-left: 5px;
                            }
                        }
                    }
                }

                .signup-email {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    width: 100%;
                    margin-top: 20px;
                    opacity: 80%;

                    @media(min-width: 768px) {
                        flex-direction: row;
                    }

                    input {
                        height: 50px;
                        width: 100%;
                        margin-right: 20px;

                        @media(max-width: 768px) {
                            margin-right: 0px;
                        }
                    }

                    button {
                        height: 50px;
                        width: 200px;

                        @media(max-width: 768px) {
                            width: 100%;
                        }
                    }
                }

                span {
                    width: 100%;
                }
            }
        }
    }
}
