<section class="downloadApp">
    <div class="container">
        <img class="downloadApp-image" src="/images/download-app-image.svg" alt="Download app image">
        <div class="downloadApp-content">
            <h1>Download Our App for Any Devices:</h1>

            <div class="appstore-content">
                <div class="appstore-text">
                    <p>App Store</p>
                    <img class="rating" src="/images/rating.svg" alt="Rating image">
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a href="#"><img id="appstore-lightmode" src="/images/appstore.svg" alt=""></a>
                <a href="#"><img id="appstore-darkmode" src="/images/appstoredark-mode.svg" alt=""></a>
            </div>

            <div class="googleplay-content">
                <div class="googleplay-text">
                    <p>Google Play</p>
                    <img class="rating" src="/images/rating.svg" alt="Rating image">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a href="#"><img id="googleplay-lightmode" src="/images/googleplay.svg" alt=""></a>
                <a href="#"><img id="googleplay-darkmode" src="/images/googleplaydark-mode.svg" alt=""></a>
            </div>

        </div>
    </div>
</section>