<section id="benefits" class="benefits">
    <div class="container">

        <div class="section-title">
            <h2>What Do You Get with Our Tool?</h2>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>

        <div class="benefits-f-2">

            <div class="b-box">
                <img src="/images/chat.svg" alt="chat icon">
                <h6>Comments on Tasks</h6>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="b-box">
                <img src="/images/presentation.svg" alt="presentation icon">
                <h6>Tasks Analytics</h6>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
        </div>

        <div class="benefits-s-2">
            <div class="b-box">
                <img src="/images/add-group.svg" alt="Add group icon">
                <h6>Multiple Assignees</h6>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="b-box">
                <img src="/images/bell.svg" alt="Bell icon">
                <h6>Notifications</h6>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
        </div>

        <div class="benefits-t-2">
            <div class="b-box">
                    <img src="/images/test.svg" alt="Test icon">
                <h6>Sections & Subtasks</h6>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="b-box">
                    <img src="/images/shield.svg" alt="Shield icon">
                <h6>Data Security</h6>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>
