.workTools {
  margin-top: 80px;
  margin-bottom: 80px;
}
.workTools .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .workTools .container {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    grid-template-areas: "section-title section-title" "google-box zoom-box" "stack-box gmail-box" "trello-box mailchimp-box" "dropbox-box evernote-box";
  }
}
@media (min-width: 1200px) {
  .workTools .container {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "section-title section-title section-title section-title" "google-box zoom-box stack-box gmail-box" "trello-box mailchimp-box dropbox-box evernote-box";
  }
}
.workTools .container .section-title {
  grid-area: section-title;
  text-align: center;
  margin-bottom: 50px;
}
.workTools .container .icon-box {
  text-align: center;
}
@media (min-width: 768px) {
  .workTools .container .icon-box {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .workTools .container .icon-box {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .workTools .container .icon-box {
    width: 250px;
  }
}
@media (min-width: 1400px) {
  .workTools .container .icon-box {
    width: 300px;
  }
}
.workTools .container .icon-box p {
  margin-top: 20px;
}
.workTools .container #google-box {
  grid-area: google-box;
}
.workTools .container #zoom-box {
  grid-area: zoom-box;
}
.workTools .container #stack-box {
  grid-area: stack-box;
}
.workTools .container #gmail-box {
  grid-area: gmail-box;
}
.workTools .container #trello-box {
  grid-area: trello-box;
}
.workTools .container #mailchimp-box {
  grid-area: mailchimp-box;
}
.workTools .container #dropbox-box {
  grid-area: dropbox-box;
}
.workTools .container #evernote-box {
  grid-area: evernote-box;
}
