.workTools {
    margin-top: 80px;
    margin-bottom: 80px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        @media(min-width: 768px) {
            display: grid;
            gap: 30px;
            grid-template-columns: auto auto;
            grid-template-areas: "section-title section-title" "google-box zoom-box" "stack-box gmail-box" "trello-box mailchimp-box" "dropbox-box evernote-box";
        }

        @media(min-width: 1200px) {
            grid-template-columns: auto auto auto auto;
            grid-template-areas: "section-title section-title section-title section-title" "google-box zoom-box stack-box gmail-box" "trello-box mailchimp-box dropbox-box evernote-box";
        }


        .section-title {
            grid-area: section-title;
            text-align: center;
            margin-bottom: 50px;
        }

        .icon-box {
            text-align: center;

            @media(min-width: 768px) {
                width: 300px;
            }

            @media(min-width: 992px) {
                width: 400px;
            }

            @media(min-width: 1200px) {
                width: 250px;
            }

            @media(min-width: 1400px) {
                width: 300px;
            }

            p {
                margin-top: 20px;
            }
        }

        #google-box {
            grid-area: google-box;
        }

        #zoom-box {
            grid-area: zoom-box;
        }

        #stack-box {
            grid-area: stack-box;
        }

        #gmail-box {
            grid-area: gmail-box;
        }

        #trello-box {
            grid-area: trello-box;
        }

        #mailchimp-box {
            grid-area: mailchimp-box;
        }

        #dropbox-box {
            grid-area: dropbox-box;
        }

        #evernote-box {
            grid-area: evernote-box;
        }
    }
}
