.managework .container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.managework .container img {
  display: none;
}
@media (min-width: 1200px) {
  .managework .container img {
    display: block;
    margin-right: 50px;
    max-width: 600px;
  }
}
@media (min-width: 1400px) {
  .managework .container img {
    max-width: 800px;
  }
}
.managework .container .managework-content h2 {
  padding-bottom: 30px;
  padding: 0px;
}
.managework .container .managework-content ul {
  padding: 0;
  list-style: none;
}
.managework .container .managework-content ul li i {
  margin-right: 5px;
  color: var(--color-theme);
}
.managework .container .managework-content .btn-theme {
  margin-top: 30px;
  width: 100%;
  box-shadow: var(--box-theme-shadow);
}
@media (min-width: 1200px) {
  .managework .container .managework-content .btn-theme {
    width: 50%;
  }
}
