<section class="workTools">
    <div class="container">

        <div class="section-title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div id="google-box" class="icon-box">
            <img src="/images/worktools-Google.svg" alt="Google icon">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div id="zoom-box" class="icon-box">
            <img src="/images/worktools-zoom.svg" alt="Zoom icon">
            <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
        </div>
        <div id="stack-box" class="icon-box">
            <img src="/images/worktools-color.svg" alt="Stack icon">
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div id="gmail-box" class="icon-box">
            <img src="/images/worktools-gmail.svg" alt="Gmail icon">
            <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
        </div>
        <div id="trello-box" class="icon-box">
            <img src="/images/worktools-Trello.svg" alt="Trello icon">
            <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
        </div>
        <div id="mailchimp-box" class="icon-box">
            <img src="/images/worktools-MailChimp.svg" alt="Mailchimp icon">
            <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
        </div>
        <div id="dropbox-box" class="icon-box">
            <img src="/images/worktools-Dropbox.svg" alt="Dropbox icon">
            <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
        </div>
        <div id="evernote-box" class="icon-box">
            <img src="/images/worktools-Evernote.svg" alt="Evernote icon">
            <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
        </div>
    </div>
</section>

