.accountSecurity .securityMain .passwordInfo {
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.accountSecurity .securityMain .passwordInfo h5 {
  color: var(--color-theme);
}
.accountSecurity .securityMain .passwordInfo form {
  margin-bottom: 50px;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-areas: "currentPassword currentPassword" "newPassword confirmNewPassword" "btns btns";
}
.accountSecurity .securityMain .passwordInfo form .accountFormBox {
  margin-top: 5px;
  margin-bottom: 5px;
}
.accountSecurity .securityMain .passwordInfo form .accountFormBox input, .accountSecurity .securityMain .passwordInfo form .accountFormBox textarea {
  width: 100%;
}
.accountSecurity .securityMain .passwordInfo form #currentPassword {
  grid-area: currentPassword;
  margin-right: 5px;
}
.accountSecurity .securityMain .passwordInfo form #newPassword {
  grid-area: newPassword;
}
.accountSecurity .securityMain .passwordInfo form #confirmNewPassword {
  grid-area: confirmNewPassword;
  margin-right: 5px;
}
.accountSecurity .securityMain .passwordInfo form .form-btn {
  grid-area: btns;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .accountSecurity .securityMain .passwordInfo form .form-btn {
    justify-content: left;
    align-items: flex-start;
  }
}
.accountSecurity .securityMain .passwordInfo form .form-btn .btn-gray, .accountSecurity .securityMain .passwordInfo form .form-btn .btn-theme {
  padding: 0;
  margin: 5px;
  width: 150px;
  height: 50px;
}
.accountSecurity .securityMain .deleteAccount {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.accountSecurity .securityMain .deleteAccount h5 {
  color: var(--color-theme);
}
.accountSecurity .securityMain .deleteAccount .delText {
  max-width: 1000px;
}
.accountSecurity .securityMain .deleteAccount #deleteForm {
  display: flex;
  flex-direction: column;
}
.accountSecurity .securityMain .deleteAccount #deleteForm .del-checkbox {
  align-items: center;
}
.accountSecurity .securityMain .deleteAccount #deleteForm .btn-theme {
  width: 100px;
  background-color: red;
  margin-top: 20px;
}
