@page "/Account/Manage"
@using static BlazorWebApp_Silicon.Components.Account.Pages.Manage.BasicInfoForm
@using static BlazorWebApp_Silicon.Components.Account.Pages.Manage.AddressInfoForm
<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<section class="accountDetails">
    <div class="container">
        <div class="accountDetailsForms">

            <BasicInfoForm/>
            
            @* <AddressInfoForm />  *@

        </div>
    </div>
</section>

@code {

}
