@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BlazorWebApp_Silicon.Data
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext DbContext


<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<section class="accountDetails">
    <div class="container">
        <div class="accountDetailsForms">
            <div class="basicInfo">
                <h1>Account details</h1>
                <h5>Account info</h5>

                <EditForm FormName="basicInfoModel" Model="applicationUserProfile" OnValidSubmit="OnBasicValidSubmitAsync" method="post" novalidate>
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div id="firstName" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="basicInfoModel.FirstName" disabled />
                        }
                        else
                        {
                            <label>First Name</label>
                            <InputText @bind-Value="basicInfoModel.FirstName" />
                            <ValidationMessage For="() => basicInfoModel.FirstName" />
                        }
                    </div>
                    <div id="lastName" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="basicInfoModel.LastName" disabled />
                        }
                        else
                        {
                            <label>Last Name</label>
                            <InputText @bind-Value="basicInfoModel.LastName" />
                            <ValidationMessage For="() => basicInfoModel.LastName" />
                        }
                    </div>
                    <div id="emailAddress" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="basicInfoModel.Email" disabled />
                        }
                        else
                        {
                            <label>Email address</label>
                            <InputText @bind-Value="basicInfoModel.Email" />
                            <ValidationMessage For="() => basicInfoModel.Email" />
                        }
                    </div>
                    <div id="phoneNumber" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="basicInfoModel.Phone" disabled />
                        }
                        else
                        {
                            <label>Phone (optional)</label>
                            <InputText @bind-Value="basicInfoModel.Phone" />
                        }
                    </div>
                    <div id="bioInfo" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="basicInfoModel.Biography" disabled />
                        }
                        else
                        {
                            <label>Biography</label>
                            <InputText @bind-Value="basicInfoModel.Biography" />
                        }
                    </div>
                    <div class="form-btn">
                        <button class="btn-gray" type="reset">Cancel</button>
                        <button class="btn-theme" type="submit">Save changes</button>
                    </div>
                </EditForm>
            </div>

            <div class="addressInfo">
                <h5>Address</h5>
                <EditForm FormName="addressInfoModel" Model="applicationUserAddress" OnValidSubmit="OnAddressValidSubmitAsync" method="post" novalidate>
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div id="addressline1" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="applicationUserAddress.AddressLine_1" disabled />
                        }
                        else
                        {
                            <label>AddressLine 1</label>
                            <InputText @bind-Value="applicationUserAddress.AddressLine_1" />
                            <ValidationMessage For="() => applicationUserAddress.AddressLine_1" />
                        }
                    </div>
                    <div id="addressline2" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="applicationUserAddress.AddressLine_2" disabled />
                        }
                        else
                        {
                            <label>AddressLine 2 (optional)</label>
                            <InputText @bind-Value="applicationUserAddress.AddressLine_2" />
                        }
                    </div>
                    <div id="postalCode" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="applicationUserAddress.PostalCode" disabled />
                        }
                        else
                        {
                            <label>Postal Code</label>
                            <InputText @bind-Value="applicationUserAddress.PostalCode" />
                            <ValidationMessage For="() => applicationUserAddress.PostalCode" />
                        }
                    </div>
                    <div id="city" class="accountFormBox">
                        @if (isExternalAccount)
                        {
                            <InputText @bind-Value="applicationUserAddress.City" disabled />
                        }
                        else
                        {
                            <label>City</label>
                            <InputText @bind-Value="applicationUserAddress.City" />
                            <ValidationMessage For="() => applicationUserAddress.City" />
                        }
                    </div>
                    <div class="form-btn">
                        <button class="btn-gray" type="reset">Cancel</button>
                        <button class="btn-theme" type="submit">Save changes</button>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    private bool isExternalAccount;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    public BasicInfoFormModel basicInfoModel { get; set; } = new BasicInfoFormModel();

    [SupplyParameterFromForm]
    public AddressInfoFormModel addressInfoModel { get; set; } = new AddressInfoFormModel();

    public ApplicationUserAddress applicationUserAddress { get; set; } = new ApplicationUserAddress();

    public ApplicationUserProfile applicationUserProfile { get; set; } = new ApplicationUserProfile();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
            var logins = await UserManager.GetLoginsAsync(user);
            isExternalAccount = logins.Any();

            var userProfile = await DbContext.AspNetUserProfiles.FirstOrDefaultAsync(x => x.Id == user.ApplicationUserProfileId);
            var userAddress = await DbContext.AspNetUserAddresses.FirstOrDefaultAsync(x => x.Id == user.ApplicationUserAddressId);

            if (basicInfoModel != null)
            {
                if (basicInfoModel.FirstName == null){ basicInfoModel.FirstName = userProfile.FirstName; }

                if (basicInfoModel.LastName == null) { basicInfoModel.LastName = userProfile.LastName; }
                if (basicInfoModel.Email == null) { basicInfoModel.Email = user.Email; }
                if (basicInfoModel.Phone == null) { basicInfoModel.Phone = userProfile.PhoneNumber; }
                if (basicInfoModel.Biography == null) { basicInfoModel.Biography = userProfile.Biography; }
            }

            if (applicationUserAddress != null)
            {
                if (applicationUserAddress.AddressLine_1 == null) { applicationUserAddress.AddressLine_1 = addressInfoModel.AddressLine_1; }

                if (applicationUserAddress.AddressLine_2 == null) { applicationUserAddress.AddressLine_2 = addressInfoModel.AddressLine_2; }
                if (applicationUserAddress.PostalCode == null) { applicationUserAddress.PostalCode = addressInfoModel.PostalCode; }
                if (applicationUserAddress.City == null) { applicationUserAddress.City = addressInfoModel.City; }

            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }
    }

    public async Task OnBasicValidSubmitAsync(EditContext editContext)
    {
        try
        {
            var user = await UserAccessor.GetRequiredUserAsync(HttpContext);

            if (user != null)
            {
                var userProfile = await DbContext.AspNetUserProfiles.FirstOrDefaultAsync(x => x.Id == user.ApplicationUserProfileId);

                userProfile.FirstName = basicInfoModel.FirstName;
                userProfile.LastName = basicInfoModel.LastName;
                user.Email = basicInfoModel.Email;
                userProfile.PhoneNumber = basicInfoModel.Phone;
                userProfile.Biography = basicInfoModel.Biography;

                await DbContext.SaveChangesAsync();

                await SignInManager.RefreshSignInAsync(user);
                RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
            }
        }
        catch (DbUpdateConcurrencyException ex)
        {
            Console.WriteLine("Concurrency error: " + ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
            throw;
        }
    }


    public async Task OnAddressValidSubmitAsync()
    {
        try
        {
            var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
            var userAddress = await DbContext.AspNetUserAddresses.FirstOrDefaultAsync(x => x.Id == user.ApplicationUserAddressId);

            if (userAddress != null)
            {
                userAddress.AddressLine_1 = addressInfoModel.AddressLine_1!;
                userAddress.AddressLine_2 = addressInfoModel.AddressLine_2;
                userAddress.PostalCode = addressInfoModel.PostalCode!;
                userAddress.City = addressInfoModel.City!;

                DbContext.AspNetUserAddresses.Update(userAddress);
                await DbContext.SaveChangesAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }
    }

    public class BasicInfoFormModel
    {
        [Required]
        [Display(Name = "First name")]
        public string FirstName { get; set; } = null!;

        [Required]
        [Display(Name = "Last name")]
        public string LastName { get; set; } = null!;

        [Required]
        [Display(Name = "Email address")]
        [DataType(DataType.EmailAddress)]
        [RegularExpression(@"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$", ErrorMessage = "Invalid email address")]
        public string Email { get; set; } = null!;

        [Display(Name = "Phone (optional)")]
        [DataType(DataType.PhoneNumber)]
        public string? Phone { get; set; }

        [Display(Name = "Biography")]
        [DataType(DataType.MultilineText)]
        public string? Biography { get; set; }
    }

    public class AddressInfoFormModel
    {
        [Required]
        public string? AddressLine_1 { get; set; }

        public string? AddressLine_2 { get; set; }

        [Required]
        public string? PostalCode { get; set; }

        [Required]
        public string? City { get; set; }
    }
}
