.contactShowcase {
    background-color: var(--color-gray-100);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media(min-width: 992px) {
            align-items: start;
        }

        .top-text {
            margin-top: 50px;

            i {
                margin-left: 10px;
                margin-right: 10px;
            }

            .active {
                color: var(--color-theme);
            }
        }

        .contactUs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media(max-width: 992px) {
                flex-direction: row;
            }

            .email-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 30px;
                width: 200px;

                @media(min-width: 992px) {
                    text-align: left;
                    flex-direction: row;
                    width: 300px;
                }

                img {

                    @media(min-width: 992px) {
                        flex-direction: row;
                        margin-right: 20px;
                        margin-bottom: 40px;
                    }
                }

                .email-info-text {

                    i {
                        margin-left: 10px;
                    }
                }
            }

            .career-info {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 30px;
                margin-left: 30px;
                align-items: center;
                width: 200px;

                @media(min-width: 992px) {
                    text-align: left;
                    flex-direction: row;
                    margin-left: 0;
                    width: 300px;
                }

                img {

                    @media(min-width: 992px) {
                        flex-direction: row;
                        margin-right: 20px;
                        margin-bottom: 40px;
                    }
                }

                .career-info-text {

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }

        .contactForm {
            margin-top: 30px;
            justify-content: center;

            @media(min-width: 992px) {
                position: absolute;
                top: 150px;
                right: 100px;
            }

            @media(min-width: 1400px) {
                right: 400px;
            }

            padding: 40px;
            color: black;
            background-color: white;
            box-shadow: var(--box-shadow-l);
            border-radius: 5px;

            editForm {
                width: 100%;
                display: flex;
                flex-direction: column;

                input, textarea {
                    margin-bottom: 15px;
                    padding: 10px;
                }

                button {
                    margin-top: 20px;
                }
            }
        }
    }

    .contactMap {
        margin-top: 30px;

        img {
            width: 100%;
        }
    }
}
