.signIn-section {
  margin-top: 100px;
  margin-bottom: 200px;
}
.signIn-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signIn-section .container .signIn-text {
  text-align: center;
  width: 80%;
}
@media (min-width: 1200px) {
  .signIn-section .container .signIn-text {
    width: 50%;
  }
}
.signIn-section .container form {
  width: 50%;
}
@media (max-width: 768px) {
  .signIn-section .container form {
    width: 100%;
  }
}
.signIn-section .container form .signIn-email {
  display: flex;
  flex-direction: column;
}
.signIn-section .container form .signIn-email label {
  font-weight: bold;
}
.signIn-section .container form .signIn-password label {
  font-weight: bold;
}
.signIn-section .container form .signIn-checkbox label {
  margin-left: 5px;
}
.signIn-section .container form .forgot-signIn {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-gray-400);
  padding-bottom: 20px;
}
.signIn-section .container form .forgot-signIn button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signIn-section .container .altSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.signIn-section .container .altSignIn button {
  margin: 10px;
}
