@charset "UTF-8";
#signUp-section {
  margin-top: 100px;
  margin-bottom: 200px;
}
#signUp-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signUp-section .container .signUp-text {
  text-align: center;
  width: 80%;
}
@media (min-width: 1200px) {
  #signUp-section .container .signUp-text {
    width: 50%;
  }
}
#signUp-section .container form {
  width: 50%;
}
@media (max-width: 768px) {
  #signUp-section .container form {
    width: 100%;
  }
}
#signUp-section .container form label {
  font-weight: bold;
}
#signUp-section .container form .fullname {
  display: flex;
}
#signUp-section .container form .fullname .firstName, #signUp-section .container form .fullname .lastName {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#signUp-section .container form .fullname .firstName input, #signUp-section .container form .fullname .lastName input {
  padding-right: 50px;
}
#signUp-section .container form .fullname .firstName {
  margin-right: 10px;
}
#signUp-section .container form .signUp-checkbox {
  margin-bottom: 20px;
}
#signUp-section .container form .signUp-checkbox label {
  margin-left: 5px;
}
#signUp-section .container form .signUp-checkbox span {
  position: relative;
}
#signUp-section .container form .signUp-checkbox span.field-validation-error {
  color: var(--color-danger);
}
#signUp-section .container form .signUp-checkbox span.field-validation-error::after {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 10;
  font-size: 2em;
  display: block;
  content: "⮿";
}
