@page "/Account/RegisterConfirmation"


<PageTitle>Register confirmation</PageTitle>

<h1>Register confirmation</h1>

<div class="container">

    <StatusMessage Message="@statusMessage" />
        <div class="signUp-text">
            <h1>Verify you Account</h1>
        <p>Didn't receive an email?<button @onclick="ResendCode">Resend email.</button></p>
        </div>

    <EditForm FormName="VerifyCodeModel" Model="VerifyCodeForm" OnInvalidSubmit="OnValidSubmit" asp-route-returnUrl="@ReturnUrl" method="post" novalidation>
            <DataAnnotationsValidator />

            <div class="form-content">
                <div class="varificationCode">
                    <label>Enter you verification code</label>
                    <ValidationMessage For="() => VerifyCodeForm.Code" />
                    <InputText @bind-Value="VerifyCodeForm.Code" />
                </div>
            </div>
        </EditForm>        
</div>

@code {
    public string? statusMessage;

    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    public string? Email { get; set; }

    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    public VerifyCodeModel VerifyCodeForm { get; set; } = new VerifyCodeModel();

    public async Task OnValidSubmit()
    {
        var result = await Http.PostAsJsonAsync("https://verificationprovider-silicon-nl.azurewebsites.net/api/verify?code=D8ZK0q3vDWpcCi_vMVi7v1kT4KA9EcKx3tUg_vrZDclEAzFuoWDFlg%3D%3D", new { Email = Email, Code = VerifyCodeForm.Code });
        if(result.IsSuccessStatusCode)
        {
            RedirectManager.RedirectTo("account/login");
        }
        else { statusMessage = "Invalid code"; }
    }

    public async Task ResendCode()
    {
        var result = await Http.PostAsJsonAsync("https://verificationprovider-silicon-nl.azurewebsites.net/api/GenerateVerificationCodeHttp?code=nwT0Yw2arWW5HPTpW-sxBbLOpOU4wEK482r5EO2LYyvuAzFupkGuGg%3D%3D", Email);
        if (result.IsSuccessStatusCode)
        {
            statusMessage = "Code resent";
        }
        else { statusMessage = "Invalid code"; }
    }
    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }

    public class VerifyCodeModel
    {
        [Required]
        public string Code { get; set; } = null!;
    }
}
