
form {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 20px;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--color-gray-100);
        font-size: 16px;
    }

    .signIn-checkbox {
        label {
            margin-left: 5px;
        }
    }

    button {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .field-validation-error {
        display: block;
        color: red;
    }

    .input-validation-error {
        border: 5px solid red;
        opacity: 30%;
        color: red;
    }

    span {
        position: relative;

        &.field-validation-error {
            color: var(--color-danger);

            &::after {
                position: absolute;
                right: 10px;
                top: 25px;
                z-index: 10;
                font-size: 2em;
                display: block;
                content: '\2BBF';
            }
        }
    }
}
