.HandleCourse .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HandleCourse .container .CourseModelBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.HandleCourse .container .CourseModelBox label {
  font-size: 20px;
}
.HandleCourse .container .CourseModelBox input {
  width: 100%;
}
.HandleCourse .container .CourseModelBox ul {
  list-style-type: none;
  padding: 0;
}
.HandleCourse .container .CourseModelBox li {
  margin-bottom: 5px;
}
